a:hover, button:hover {
    cursor: pointer;
}
@media (hover: hover) {
    .header__info-lang_txt:hover {
        color: #C7A17A;
        cursor: pointer;
    }
    .header__info-tel:hover a {
        color: #C7A17A;
    }
    .nav__menu-link:hover, .footer__menu-link:hover {
        color: #C7A17A;
    }
    .nav__logo-img:hover, .footer__logo:hover {
        transform: scale(1.1);
    }
    .nav__user-item:hover a {
        transform: scale(1.1);
    }
    .promo__btn-link:hover, .addCart:hover {
        background: transparent;
        border: 1px solid rgb(102, 102, 129);
    }
    .promo__btn-link--color:hover {
        background: #C7A17A;
    }
    .catalog__item:hover {
        background: #22222F;
    }
    .projectDetails__size-btn:hover {
        border:2px solid #C7A17A;
    }
}